<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
	<!-- 打开注解功能 -->
	<context:annotation-config />
	<!-- 打开自动扫描功能 -->
	<context:component-scan base-package="com.zrcx" />
	<!-- 上传解析器，id不能乱写 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"/>
		<!-- 可上传最大文件为5M -->
		<property name="maxUploadSize" value="5242880"/>
	</bean>
	<!-- 配置拦截器 -->
	<mvc:interceptors>

		<!-- 这样配置是拦截所有请求 -->
		<!-- <bean class="com.zrcx.common.LoginIntercepter"/> -->
		<!-- (/admin/**代表admin下的子孙路径也拦截，否则只拦截admin/下的子路径) -->

		<!-- 拦截指定请求 -->
		<mvc:interceptor>
			<!-- *号表求任意 -->
			<mvc:mapping path="/user/*" />
			<bean id="interceptor1" class="com.zrcx.common.LoginIntercepter" />
		</mvc:interceptor>

	</mvc:interceptors>

	<!-- 视图解析配置 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>


