<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">  
   <!-- 配置普通URL映射处理器 -->
   <!--  
   <bean id="SimpleUrlHandlerMapping" 
         class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
       <property name="mappings">
         <props>
         	url(login.do) 映射到控制器  loginControl
            <prop key="login.do">loginController</prop>
         </props>
       </property>
   </bean> -->
   <!-- 根据类型来映射,规则是找出所有Controller， 并去掉名称中的Controller，全部小写 -->
   <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />
   <!-- 根据bean名称来映射,可以配置多个，用空格隔开 -->
   <!-- 设置name属性表示url,必须以/开头 -->
   <!--  
   <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/> -->
   <bean class="com.zrcx.controller.LoginController" />   
   <!-- 视图解析配置  -->
   <bean id="viewResolver"
	     class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="prefix" value="/"/>
	  <property name="suffix" value=".jsp"/>
   </bean>
</beans>


